/* Author: Juan Sebastian Peña Angarita */

/* ---------------------------------------------------------STRUCUTURE-------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

/* editing the body */
body {
    background: linear-gradient(135deg, #24242455 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #242424 25%, 
    transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #24242455 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, 
    #242424 25%, #000000 25%) 0px 0/ 20px 20px;
    /* background-image: url("images/rocket.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    color: #000;
    font-family: monospace, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #e49800;
    border-radius: 10px;
}

/* editing the main container */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, auto); */

    /* using css grid and grid areas for the structure*/
    grid-template-areas: "header header header"
                         "content content sidebar"
                         "footer footer footer";
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

/* editing all sections */
.container .header,
.container .content,
.container .footer,
.container .sidebar  {
    color: aliceblue;
}

/* editing the header */
.container .header {
    min-height: 100px;
    grid-area: header;
    border-radius: 5px;
    border-right: 4px solid #fb8f31;
    border-left: 4px solid #fb8f31;
    border-top: 3px solid white;
    background: #12203e;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .header .menu-bar {
    width: 40%;
    display: none;
}

.container .header .menu-bar .btn-menu {
    font-weight: bold;
    margin: 10px 10px;
    width: 65%;
    height: 40px;
    background-color: #fb8f31;
    border: 2px solid white;
    border-radius: 8px;
}

/* the structure of the menu in the header */
.container .header .menu {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
}

/* editing the div with the main content */
.container .content {
    grid-area: content;
    padding: 20px;
    border-bottom: 2px solid #fb8f31;
    display: grid;
    grid-template-areas: "img skills"
                         "about about"
                         "education education"
                         "home home";
}

/* sections of main */
.container .content .about {
    grid-area: about;
    margin-top: 80px;
}

.container .content .education {
    grid-area: education;
    margin: 30px 0;
}

.container .content .skills {
    grid-area: skills;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* editing the sidebar */
.container .sidebar {
    margin-top: 30px;
    height: 900px;
    grid-area: sidebar;
    /* background: rgb(221, 124, 49); */
    border-radius: 8px;
    border-top: 4px solid #fb8f31;
    border-right: 4px solid #45bf9d;
    border-left: 4px solid #45bf9d;
    border-bottom: 4px solid #fb8f31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar .sideImages {
    width: 90%;
    margin: 0;
    text-align: center;
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* editing the footer */
.container .footer {
    margin: 30px 0;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    grid-area: footer;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #45bf9d;
}

.container .footer .icons {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/* ---------------------------------------------------------TEXT STYLES----------------------------------------------------------------------*/

p {
    font-size: 20px;
    margin: 20px 0;
}

/* text styles from header */
.container .header h1 { 
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    letter-spacing: 3px;
    color: transparent;
    padding-bottom: 7px;
    margin-top: 15px;
}

.container .header .info {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-weight: bold;
    color: #e49800;
}

.container .header .menu ul {
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: 22px;
}

.container .header .menu ul li {
    background: #45bf9d;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #999;
    padding: 5px;
}

.container .header .menu ul li:hover {
    background: #fb8f31;
    border: 1px solid #000;
    opacity: 0.9;
}

.container .header .menu ul li a, 
.container .header .menu ul li a:visited {
    text-decoration: none;
    color: #000;
}

/* text styles from content > skills */
.container .content .skills h2 {
    text-align: center;
    width: 50%;
    margin: 10px 0;
    border: 2px solid #45bf9d;
    padding: 8px;
}

.container .content .skills ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
}

.container .content .skills ul li {
    font-size: 20px;
}

/* text styles from content > about */
.container .content .about h2 {
    text-align: center;
    width: 25%;
    margin: 10px auto;
    border: 2px solid #45bf9d;
    padding: 8px;
}

/* text styles from content > education */
.container .content .education h2 {
    text-align: center;
    width: 25%;
    margin: 20px auto;
    border: 2px solid #45bf9d;
    padding: 8px;
}

.container .content .education ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: disc;
}

.container .content .education ul li {
    font-size: 20px;
}
/* ---------------------------------------------------------IMAGES AND ICONS----------------------------------------------------------------------*/

/* editing my own image */
.container .content #myselfImg {
    margin: 0px auto;
    width: 60%;
    border-radius: 10px;
    /* putting a shadow around the image */
    box-shadow: 10px 7px 13px #999;           
    -webkit-box-shadow: 10px 7px 13px #999;
    -moz-box-shadow: 10px 7px 13px #999;
}

.container .sidebar .sideImages img {
    width: 100%;
    min-height: 250px;
    border: 2px solid #fffffff4;
    border-radius: 8px;
}

.container .sidebar .sideImages img:hover {
    border: 4px solid #fb8f31;
    height: 260px;
}

/* editing the social media icons */
.container .footer .icons a i {
    margin: 0;
    width: 10%;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* editing home icon */ 
.container .content #homeIcon {
    margin-top: 30px;
    grid-area: home;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.container .content #homeIcon a,
.container .content #homeIcon a:visited {
    padding: 10px;
    font-style: none;
    color: aliceblue;
    background: transparent;
}

/* ---------------------------------------------------------RESPONSIVE-------------------------------------------------------------------*/

/* using medias to modify the styles with diferents size of screem */
/* media to modify the styles in a smartphone screem */
@media screen and (max-width: 767px) {
    /* container structure */
    .container {
        grid-template-areas: "header header header"
                             "content content content"
                             "sidebar sidebar sidebar"
                             "footer footer footer";
    }

    /* header structure */
    .container .header {
        width: 90%;
        max-width: 700px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid #fb8f31;
    }

    /* header text */
    .container .header h1 { 
        width: 90%;
        text-align: center;
        font-size: 22px;
    }

    .container .header .info {
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        font-weight: bold;
        color: #e49800;
        font-size: 20px;
    }

    .container .header .menu ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
    }

    .container .header .menu ul li {
        text-align: center;
        background: #45bf9d;
        box-shadow: 2px 2px 5px #999;
        padding: 5px;
    }

    /* content structure */
    .container .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* content text */
    .container .content .about h2,
    .container .content .education h2,
    .container .content .skills h2
     {
        width: 80%;
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
        border: 2px solid #45bf9d;
        padding: 8px;
    }

    /* footer structure */
    .container .footer {
        background: transparent;
    }

    .container .footer .icons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    /* footer text(icons) */
    .container .footer .icons a i {
        margin: 0;
        width: 10%;
        font-size: 35px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .container .sidebar {    
        width: 96%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* sidebar images */
    .container .sidebar .sideImages img {
        width: 90%;
        height: 50%;
        margin: 0;
    }

}

/* media to modify the styles in a smartphone screem */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container .content {
        display: grid;
        grid-template-areas: "img imag skills"
                             "about about about"
                             "education education education"
                             "home home home";
    }

    .container .sidebar {
        width: 95%;
    }

    .container .sidebar .sideImages {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        flex-wrap: wrap;
    }

    .container .sidebar .sideImages img {
        max-height: 40px;
    }

    .container .footer {
        width: 100%;
    }
}